# Jetbrains
/.idea/

# Python
/venv/
/build/
/dist/
/*.egg-info/
**/__pycache__/
*.whl

# Build
/pybuild/

# Jupyter
**/.ipynb_checkpoints/

# Pytest
**/.pytest_cache/

# Sphinx
/docs_build/
/docs_html/

# Data/pictures
/images/
/openql_output/
*.zip

#vscode
.vscode/
