name: quality

on: push

jobs:
  mypy:
    runs-on: ubuntu-latest
    env:
      UV_SYSTEM_PYTHON: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12' 
      - name: Setup UV
        run: |
          pip install --upgrade pip
          pip install uv
      - name: Install requirements
        run: uv pip install mypy .
      - name: Run mypy
        run: mypy qgym --strict --install-types --non-interactive --show-error-context --show-error-codes


  lint:
    runs-on: ubuntu-latest
    env:
      UV_SYSTEM_PYTHON: 1
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12' 
      - name: Setup UV
        run: |
            pip install --upgrade pip
            pip install uv
      - name: Install requirements
        run: uv pip install ruff .
      - name: Run ruff linter
        run: ruff check